
<h1>GALLERI</h1>

<div class="grid_1-1">
  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>

  <div>
    <img src="" alt="" />
  </div>
</div>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    text-align: center;
  }

</style>
