---
import Booking from "../components/Booking.astro";
import "../styles/generel.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xyy0qse.css" />
    <link rel="stylesheet" href="src/styles/generel.css" />
  </head>
  <body>
    <Navigation />
    <main class="container">
      <div>
        <h1>Bake and Bake</h1>
        <img class="bike" src="/public/img/pizzabike.webp" alt="bike" />
        <h2>Book din personlige pizzabager</h2>
        <p>
          Bike and bake kommer hjem til dig og giver dig en autentisk pizza
          oplevelse. Vi kan bookes til små og store arrangementer - og tilpasser
          os til dit behov og dit hjem.
        </p>
      </div>
      <div class="grid-3">
        <!-- <img class="pizza1" src="/public/img/index1.webp" alt="" /> -->
        <img class="b1" src="/public/img/index2.webp" alt="" />
        <img class="b1" src="/public/img/index3.webp" alt="" />
      </div>
      <div>
        <img class="b2" src="/public/img/index4.webp" alt="" />
      </div>
      <div>
        <img class="blade2" src="/public/img/blade.webp" alt="" />
        <img class="blade1" src="/public/img/blade.webp" alt="" />
        <h3>Om os</h3>
        <p>
          Bike and Bake, er et catering firma, som startede med ideen om at
          kunne bringe den autentiske italienske pizza oplevelse rundt.Vi er et
          catering firma som kommer ud til både private arrangementer og til
          firmaaarngementer. Vi tilbyder italiensk mad, såsom antipasti, salat,
          pizza og dessert. Vi bringer ikke den færdige mad, men vi laver den
          foran vores gæster. Derudover kan man også opleve os på markeder og
          festivaler
        </p>
      </div>
      <div>
        <img class="knallert" src="/public/img/knallert.webp" alt="" />

        <img class="pizza3" src="/public/img/pizza3.webp" alt="" />
        <img class="pizza1" src="/public/img/pizza1.webp" alt="" />
        <img class="bestik" src="/public/img/bestik.webp" alt="" />
        <Booking />
      </div>
      <div class="grid_1-1-1">
        <img src="/public/img/index3.webp" alt="" />
        <img src="/public/img/index6.webp" alt="" />
        <img src="/public/img/index1.webp" alt="" />
      </div>
      <div>
        <img class="pizzaovn" src="/public/img/ovn.webp" alt="pizzaovn" />
        <p>
          Vil du gerne udvide din viden indenfor det italienske køkken, eller
          lære hvordan man laver den bedste pizzadej? Så kan du nu booke et
          madkursus hos Michele! Vi tilbyder madkurser indenfor pizza,
          antipasti, dessert og pasta .
        </p>
        <p>
          Bake and bake er et cateringfirma som Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum
        </p>
        <h3>Vi tilbyder nu madlavningskurser</h3>
        <div class="knap2">
          <Button variant="primary" size="medium">Læs om tilbudet</Button>
        </div>
      </div>
    </main>
  </body>
  <div class="grid-11">
    <img src="/public/img/pizza3.webp" alt="" />
    <img src="/public/img/pasta.webp" alt="" />
    <img src="/public/img/slice.webp" alt="" />
    <img src="/public/img/antipasti.webp" alt="" />
    <img src="/public/img/pizza2.webp" alt="" />
    <img src="/public/img/pasta.webp" alt="" />
    <img src="/public/img/slice.webp" alt="" />
    <img src="/public/img/antipasti.webp" alt="" />
    <img src="/public/img/pizza2.webp" alt="" />
  </div>
  <Footer />
</html>

<style>
  .form-felt2 {
    z-index: 1;
  }
  .grid-11 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
  }
  .grid-11 img {
    width: 100%;
  }
  .bike {
    max-width: 80%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .grid-3 img {
    max-width: 100%;
  }
  img {
    max-width: 80%;
    align-items: center;
    margin-left: 30px;
  }
  .blade1 {
    max-width: 30%;
  }
  .blade2 {
    max-width: 30%;
    transform: rotate(180deg);
  }

  .pizza1 {
    z-index: 2;
  }
  .pizza3 {
    z-index: 2;
    max-width: 40%;
  }
  .bestik {
    max-width: 20%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .knap2 {
    margin: 0 auto;
    margin-top: 100px;
    width: fit-content;
  }
  .b1 {
  }
  @media screen and (max-width: 768px) {
    .pizza1 {
      display: none;
    }
    .bike {
      display: none;
    }
  }
</style>
