---
import Booking from "../components/Booking.astro";
import "../styles/generel.css";
import Button from "../components/Button.astro";
import MainLayout from "../MainLayout.astro";
---

<MainLayout>
  <body>
    <main class="container">
      <div class="front">
        <div>
          <h1>Bake and Bake</h1>
          <h2>Book din personlige pizzabager</h2>
          <p>
            Bike and bake kommer hjem til dig og giver dig en autentisk pizza
            oplevelse. Vi kan bookes til små og store arrangementer - og
            tilpasser os til dit behov og dit hjem.
          </p>
        </div>
      </div>
      <div class="bike">
        <img src="/img/pizzabike.webp" alt="bike" />
      </div>
      <div class="grid_3">
        <img class="mc" src="/public/img/cykelkbh.webp" alt="bike" />
        <div>
          <img class="blade2" src="/img/blade.webp" alt="" />
          <img class="blade1" src="/img/blade.webp" alt="" />
          <img src="/img/pizzabike.webp" alt="bike" />
        </div>
      </div>

      <section class="box">
        <div class="grid_3">
          <img class="mc" src="/img/cykelkbh.webp" alt="bike" />
          <div>
            <img class="blade2" src="/img/blade.webp" alt="" />
            <img class="blade1" src="/img/blade.webp" alt="" />
          </div>
          <h3>Om os</h3>
          <p>
            Bike and Bake, er et catering firma, som startede med ideen om at
            kunne bringe den autentiske italienske pizza oplevelse rundt.Vi er
            et catering firma som kommer ud til både private arrangementer og
            til firmaaarngementer. Vi tilbyder italiensk mad, såsom antipasti,
            salat, pizza og dessert. Vi bringer ikke den færdige mad, men vi
            laver den foran vores gæster. Derudover kan man også opleve os på
            markeder og festivaler
          </p>
        </div>
      </section>
    </main>
    <div>
      <img class="knallert" src="/img/knallert.webp" alt="" />

      <img class="pizza3" src="/img/pizza3.webp" alt="" />
      <img class="pizza1" src="/img/pizza1.webp" alt="" />
      <img class="bestik" src="/img/bestik.webp" alt="" />
      <Booking class="book" />
    </div>

    <section class="box">
      <div class="grid_1-1-1">
        <img src="/img/index3.webp" alt="" />
        <img src="/img/index6.webp" alt="" />
        <img src="/img/index1.webp" alt="" />
      </div>
    </section>
    <img class="pizzaovn" src="/img/ovn.webp" alt="pizzaovn" />
    <p>
      Vil du gerne udvide din viden indenfor det italienske køkken, eller lære
      hvordan man laver den bedste pizzadej? Drømmer du om duften af friskbagt
      brød, smagen af autentisk pasta og den uforglemmelige oplevelse af ægte
      italiensk madlavning? Nu har du chancen for at bringe Italien direkte ind
      i dit køkken! Du kan nu booke et madkursus hos Michele!
      <br /><br />
      Vi tilbyder madkurser indenfor pizza, antipasti, dessert og pasta. Lær at lave
      klassiske italienske retter som Nonna ville lave dem. Fra håndlavet pizza til
      cremet carbonara, vil du mestre kunsten bag Italiens mest elskede retter. Vores
      kursus er mere end bare madlavning. Det er en rejse gennem Italiens forskellige
      regioner, hvor du vil opdage unikke ingredienser og smagskombinationer. Vores
      hands-on sessioner sikrer, at du ikke bare ser, men også gør. Hver deltager
      får mulighed for at arbejde aktivt med alle opskrifter. Mød nye mennesker,
      der deler din passion for mad. Sammen vil I nyde de måltider, I har skabt,
      og måske endda få nogle nye venner. Tag skridtet, og lad os sammen skabe magi
      i køkkenet. Tilmeld dig i dag, og begynd din kulinariske rejse til Italien!
    </p>
    <h3>Vi tilbyder nu madlavningskurser</h3>
    <div class="knap2">
      <a href="/kursus">
        <Button variant="primary" size="medium">Læs om tilbudet</Button>
      </a>
    </div>
  </body>
</MainLayout>

<div class="grid-11">
  <img src="/img/pizza3.webp" alt="" />
  <img src="/img/pasta.webp" alt="" />
  <img src="/img/slice.webp" alt="" />
  <img src="/img/antipasti.webp" alt="" />
  <img src="/img/pizza2.webp" alt="" />
  <img src="/img/pasta.webp" alt="" />
  <img src="/img/slice.webp" alt="" />
  <img src="/img/antipasti.webp" alt="" />
  <img src="/img/pizza2.webp" alt="" />
</div>

<style>
  .form-felt2 {
    z-index: 1;
  }
  .grid-11 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
  }
  .grid-11 img {
    width: 100%;
  }
  .bike {
    max-width: 80%;
  }

  .grid-3 img {
    max-width: 100%;
  }
  img {
    max-width: 80%;
    align-items: center;
  }
  .blade1 {
    max-width: 20%;
    z-index: 1;
  }
  .blade2 {
    max-width: 20%;
    margin-left: 55%;
    transform: rotate(180deg);
    z-index: 2;
  }

  .pizza1 {
    z-index: 2;
  }
  .pizza3 {
    z-index: 2;
    max-width: 40%;
    margin-left: -20%;
  }
  .bestik {
    max-width: 20%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 10px;
  }
  .grid_1-1-1 img {
    max-width: 100%;
  }

  .knap2 {
    margin: 0 auto;
    margin-top: 100px;
    width: fit-content;
  }
  .sektion {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    .bike {
      display: none;
    }
    .knallert {
      display: none;
    }
    .mc {
      display: none;
    }
    .pizza1 {
      display: none;
    }

  }

  @media screen and (min-width: 768px) {
    .bike {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
</style>
