---
import Booking from "../components/Booking.astro";
import "../styles/generel.css";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xyy0qse.css" />
    <link rel="stylesheet" href="src/styles/generel.css" />

    <title>Astro</title>
  </head>
  <body>
    <img class="ciao" src="/public/img/ciao.webp" alt="" />
    <Booking />
    <img class="blomst" src="/public/img/blomst-2.webp" alt="" />
    <p>
      Send en forspørgsel ved at udfylde formularen. Du bliver herefter
      kontaktet af os og derfra vil vi i fællesskab planlægge detaljerne omkring
      bookingen.</p>
    <p> Vi forbeholder os retten til at acceptere en forspørgsel, hvis
      vi ikke har tid eller kapacitet på den valgte dato.</p>
    <p>
      Hvis du er nysgerrig på at vide mere? så tag kontakt og få en
      uforpligtende samtale
    </p>
  </body>
</html>
