---
import Booking from "../components/booking.astro";
import "../styles/generel.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xyy0qse.css" />
    <link rel="stylesheet" href="src/styles/generel.css" />

    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <main>
      <div>
        <h1>Bake and Bake</h1>
        <h2>Book din personlige pizzabager</h2>
        <p>
          Bike and bake kommer hjem til dig og giver dig en autentisk pizza
          oplevelse. Vi kan bookes til små og store arrangementer - og tilpasser
          os til dit behov og dit hjem.
        </p>
      </div>
      <img class="ciao" src="/public/img/" alt="" />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* web */
  @media screen and (min-width: 768px);
</style>
