---
import Booking from "../components/Booking.astro";
import "../styles/generel.css";
import Button from "../components/Button.astro";
import MainLayout from "../MainLayout.astro";
---

<MainLayout>
  <body>
    <main class="container">
      <section class="sektion">
        <div class="front">
          <div class="madtext">
            <h1>Bike and Bake</h1>
            <h2>Book din personlige pizzabager</h2>
            <p>
              Bike and bake kommer hjem til dig og giver dig en unik autentisk catering
              oplevelse. Vi kan bookes til små og store arrangementer - og
              tilpasser os dit behov og dit hjem.
            </p>
          </div>
          <img class="bike" src="/img/pizzabike.webp" alt="bike" />
        </div>
<img class="pil" src="/img/pil.svg" alt="pil">
        <section class="sektion1" id="sektion1">
          <section class="box">
            <div class="grid_1-1">
              <a href="/omos">
              <img class="mc" src="/img/cykelkbh.webp" alt="bike" />
            </a>
              <div class="omos">
                <h3>Om os</h3>
                <p>
                  Bike and Bake, er et catering firma, som startede med ideen om
                  at kunne bringe den autentiske italienske pizza oplevelse
                  rundt. <br /><br />
                  Vi er et catering firma som kommer ud til både private arrangementer
                  og til firmaaarngementer. Vi tilbyder italiensk mad, såsom antipasti,
                  salat, pizza og dessert. Vi bringer ikke den færdige mad, men vi
                  laver den foran vores gæster. Derudover kan man også opleve os
                  på markeder og festivaler
                </p>
              </div>
            </div>
          </section>
        </section>
        <div>
          <section class="book1">
            <Booking class="book" />
          </section>
        </div>
        <section class="sektion">
          <section class="box">
            <div class="grid_1-1-1">
              <img class="index3" src="/img/index3.webp" alt="" />
              <img class="index2" src="/img/index6.webp" alt="" />
              <img class="index1" src="/img/index1.webp" alt="" />
            </div>
          </section>
        </section>
        <section class="sektion">
          <div class="grid_1-1">
            <div class="madtext">
              <h3>Madlavningskurser</h3>
              <p>
                Vil du gerne udvide din viden indenfor det italienske køkken,
                eller lære hvordan man laver den bedste pizzadej? <br /><br
                />Drømmer du om duften af friskbagt brød, smagen af autentisk
                pasta og den uforglemmelige oplevelse af ægte italiensk
                madlavning? Nu har du chancen for at bringe Italien direkte ind
                i dit køkken! Du kan nu booke et madkursus hos Michele!
              </p>
              <div class="knap2">
                <a href="/kursus">
                  <Button variant="primary" size="medium"
                    >Læs om tilbudet</Button
                  >
                </a>
              </div>
            </div>
            <div>
              <img class="pizza3" src="/img/pizza3.webp" alt="" />
              <img class="pizza1" src="/img/pizza1.webp" alt="" />
            </div>
          </div>
        </section>
      </section>
    </main>
    <style>

    .madtext {
      margin: 30px;
    }

    p {
      padding-bottom: 50px;
    }

      .bike {
        max-width: 100%;
        position: relative;
        margin-top: 12%;
      }
      .grid_1-1 img {
        max-width: 90%;
        padding: 5%;
      }
      img {
        max-width: 100%;
      }
      .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 10px;
        padding: 10px;
      }
      .grid_1-1-1 img {
        max-width: 100%;
      }

      .knap2 {
        margin-left: 18%;
        width: fit-content;
      }
      .sektion {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .sektion1 {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .book1 {
        margin-left: 20px;
        margin-right: 20px;
      }
      .omos {
        margin: 30px;
      }
      @media screen and (max-width: 768px) {
        .bike {
          display: none;
        }
        .knallert {
          display: none;
        }
        .index1 {
          display: none;
        }

        .pizza1 {
          display: none;
        }
        .pizza3 {
          display: none;
        }
        .pil {
          display: none;
        }
      }

      @media screen and (min-width: 768px) {

        h1 {
          font-size: 60px;
          margin-bottom: -5%;
        }

        .grid_1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 130px;
        }

        .box {
          width: 100%;
          height: 100vh;
        }
        .box img {
          margin-top: 5%;
          margin-bottom: 6%;
          margin-left: 3%;
        }
.omos {
  margin-top: 20%;
  margin-right: 15%;
}
        .grid_1-1 img {
          max-width: 100%;
          padding: 5%;

}

        .grid_1-1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 40px;
          padding-top: 50px;
        }
        .index1 {
          max-height: 79%;
          width: 100%;
          object-fit: cover;
        }

        .index2 {
          max-height: 90%;
          width: 100%;
        }
        .front {
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 60vh;
        }
        .book1 {
          margin-left: 25%;
          margin-top: 7%;
          height: 75vh;
        }

        .madtext {
          margin-left: 70px;
        }
        .pizza1 {
          max-height: 38%;
        }
        .pizza3 {
          max-height: 25%;
          margin-left: -40px;
          margin-bottom: -120px;
        }
        .pil {
          margin-left: 49%;
          margin-top: 4%;
          cursor: pointer;
        }
        .sektion1 img {
          margin-top: 28%;
          margin-left: 2%;
        }
        .mc.enlarged {
            transform: scale(1.05); 
      }
      .index1.enlarged {
            transform: scale(1.05); 
      }
      .index2.enlarged {
            transform: scale(1.05); 
      }
      .index3.enlarged {
            transform: scale(1.05); 
      }
    }
    </style>
  </body>
  <script>

    document. querySelector('.pil').addEventListener('click', () => {
      document.getElementById('sektion1').scrollIntoView({ behavior: 'smooth' });
    });
    
    const image = document.querySelector('.mc');

    image.addEventListener('mouseenter', () => {
        image.classList.add('enlarged');
    });
    image.addEventListener('mouseleave', () => {
        image.classList.remove('enlarged');
    });

    const image1 = document.querySelector('.index1');

    image1.addEventListener('mouseenter', () => {
        image1.classList.add('enlarged');
    });
    image1.addEventListener('mouseleave', () => {
        image1.classList.remove('enlarged');
    });

    const image2 = document.querySelector('.index2');

image2.addEventListener('mouseenter', () => {
    image2.classList.add('enlarged');
});
image2.addEventListener('mouseleave', () => {
    image2.classList.remove('enlarged');
});

const image3 = document.querySelector('.index3');

image3.addEventListener('mouseenter', () => {
    image3.classList.add('enlarged');
});
image3.addEventListener('mouseleave', () => {
    image3.classList.remove('enlarged');
});
  </script>

</MainLayout>
