---
import MainLayout from "../MainLayout.astro";


---

<MainLayout>
    <h1>MADLAVNINGSKURSER</h1>
    <div class="grid_1-1">
        <div><img src="" alt=""></div>
        <div><img src="" alt="">
    <img src="" alt=""></div>
    </div>
    <h3>Michele tilbyder madlavningskurser</h3>
    <p>Gennem vores mad kurser får du et indblik i hvordam ækte italiensk mad blivet lavet fra bunden.</p>
    <h3>Skriv til madlavning@michele.dk for at booke madlavningskursus</h3>
    <section class="grid_1-1">
        <div><img src="" alt="Pizza"></div>
        <div><img src="" alt="Pasta"></div>
        <div><img src="" alt="Antipasti"></div>
        <div><img src="" alt="Dessert"></div>
    </section>
</MainLayout>