---
import MainLayout from "../MainLayout.astro";
import "../styles/generel.css";
import Kurser from "../components/kurser.astro";

const data = await fetch(
  "https://fisxfvyrriqnsrbvxcmu.supabase.co/rest/v1/kursurs",
{
method: "GET",
headers: {
  apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpc3hmdnlycmlxbnNyYnZ4Y211Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NDg5MDgsImV4cCI6MjAzMTQyNDkwOH0.5lrBoPFJ4FjT9V9DBJyvo0pcABFHQsghMHx2TlHhV3o"
}
}
).then(res=>res.json()); 

  console.log(data);
---


<MainLayout>
  <main>
    <h1>Madlavningskurser</h1>
    <div class="grid_1-1">
      <div><img src="/img/mad1.webp" alt="" /></div>
      <div>
        <img src="/img/mad2.webp" alt="" />
        <img src="/img/topersoner.webp" alt="" />
      </div>
    </div>
    <h3>Michele tilbyder madlavningskurser</h3>
    <p>
      Drømmer du om at mestre kunsten at lave autentisk, italiensk mad fra
      bunden? Vores madkursus er skabt for dig, der ønsker at opleve den ægte
      smag af Italien i dit eget køkken.
    </p>
    <p>Gennem vores mad kurser får du et indblik i hvordan ægte italiensk mad blivet lavet fra bunden. Ved at tilmelde dig skriver du til madlavning@michele.dk, hvor du skal skrive en kort beskrivelse om dig selv og hvor mange du ønsker at tage med til madlavningskurset. I kurset bliver du guided hand-to-hand om hvordan man laver en ægte italiensk ret. På vores kurser holder vi fokus på fællesskab og at have det sjovt med at lave mad - som er noget af bike and bakes primære fokus. I kurserne lærer vi dig at lave alt fra antipasto til pizza - altså ægte italiensk mad. Madkurserne er for alle aldersgrupper og holdes i grupper. Man skal ikke være på noget specifikt niveau for at kunne deltage i kurser, da vi inkluderer alle og giver jer en hjælpende hånd.</p>
    <p>
      Tag med på en kulinarisk rejse til Italien og lær at lave pasta, der vil
      imponere dine venner og familie. Tilmeld dig vores kursus i dag og oplev
      glæden ved at lave ægte, italiensk pasta fra bunden! <br> Mere info ved booking via e-mail.
    </p>
    <h3>Skriv til madlavning@michele.dk for at booke madlavningskursus</h3>
    <section class="grid_1-1">
      {
      data.map((kurs)=>{
return <Kurser data={kurs}/>;
      })
    }
    </section>
  </main>

</MainLayout>

<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  img {
    max-width: 100%;
  }
  h1 {
    text-align: center;
  }
  h3 {
    text-align: left;
  }
  img {
    width: 100%;
  }

  main {
      margin: 30px;
      margin-bottom: 90px;
    }
  @media screen and (min-width: 768px) {
    main {
      margin-left: 18%;
      margin-right: 18%;
      margin-bottom: 180px;
    }
    ¨ .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

  }
</style>
