<main>
    <h1>VORES MAD </h1>
    <img src="" alt="">
    <h2>Antipasto</h2>
    <p>Vi serverer en type antipasto som, er populær fra og aktuel i ladsdistrikterne rundt omkring i Italien. Det er ristet brød, bruschetta, med friske tomatterninger og oregano, toppet med olivenolje. Vi topper det med Parmigiano ost og nogle oliven. Forretten er en deljlig, smagsfuld og forfriskende start på den italienke madrejsen.</p>
   <img src="" alt="">
    <h2>Pizza</h2>
    <p>Vores pizza menu består af 6 forskellige pizzaer; 3 vegetariske og 3 med kød. Menustilen er minimal, men med kvalitetsråvarer. Vores filosofi er at holde menuen enkel og velsmagende. </p>
    <p></p>
    <img src="" alt="">
    <h2>Gelato</h2>
    <p>Vi har 4 forskellige slags gelato: mango og jordbær som sorbet, og vi har fiordilatte (mælkesmag) og kaffesmag.
        Gelatoen er lavet på en ismaskine der laver isen foran gæsterne, hvor maskinen kan regulere temperaturen meget præcist. Dette er nøglen til kvalitet.</p>
    <h1>GENEREL INFO</h1>
    <h2>Råvarer</h2>
    <p>I bike and bake har vi et stort fokus på at bruge gode kvalitetsvarer i vores madlavning. Vi bruger tomater og mel, som vi selv importerer fra producenter i Italien. Vores økologiske mozzarellaost bliver prodoceret i Danske butikker, og resten af ​​ingredienserne vi bruger er fra HORECA distributionen i Danmark.
        Vi har et stort fokus på at bruge ingredienser, der er velsmagende og sunde, mange gange foretrækker vi at bruge økologiske ingredienser og produkter eller dem, hvor vi kender oprindelsen.</p>
    <h2>Glutenfrit alternativ</h2>
    <p>Bike and bake vil vi altid sørge for, at alle kunder vil kunne spise og nyde maden, vi har derfor efter forespørgsel mulighed for at lave både glutenfri og vegansk base.</p>
    <h2>Hvad du kan forvente når du bestiller hos os</h2>
    <p>Bike and Bake håber at kunne levere en oplevelse ud over det sædvanlige, selvom vi bager pizzaer, som er en meget almindelig mad, vil vi gerne have, at vores gæster mærker forskellen fra en take away stil og et cateringpizzeria. Vi  er glad for at kunne vise arbejdsflowet og processen med at lave pizzaer, og vi vil have dem til at smage pizzaioloens kunst (denne kunst er også anerkendt fra UNESCOs umærkelige arv).
        Vi mener at kunder skal vælge os, da Bike and Bake vil gøre alt for at give dem den unikke oplevelse, gæsterne kan få ved at se deres pizzaer lavet for øjnene af dem. Vi ønsker, at kunderne husker kvaliteten og den autentiske smag af italiensk pizza.
        Atmosfæren og de stemninger, som Bike and Bake bringer med sig under et arrangement er noget helt særligt. Bike and Bake handler IKKE kun om maden, det er en måde at slappe af gæsterne på i en hyggelig og afslappet atmosfære.
        </p>
    <img src="" alt="">
    <img src="" alt="">
</main>