---
import "../styles/generel.css";
import MainLayout from "../MainLayout.astro";
---

<MainLayout>
  <main>
    <h1>Vores mad</h1>
    <section class="grid_2">
      <div>
        <h3>Hvad du kan forvente når du bestiller hos os</h3>
        <p>
          Bike and Bake håber at kunne levere en oplevelse ud over det
          sædvanlige, selvom vi bager pizzaer, som er en meget almindelig mad,
          vil vi gerne have, at vores gæster mærker forskellen fra en take away
          stil og et cateringpizzeria. Vi er glad for at kunne vise
          arbejdsflowet og processen med at lave pizzaer, og vi vil have dem til
          at smage pizzaioloens kunst (denne kunst er også anerkendt fra UNESCOs
          umærkelige arv). Vi mener at kunder skal vælge os, da Bike and Bake
          vil gøre alt for at give dem den unikke oplevelse, gæsterne kan få ved
          at se deres pizzaer lavet for øjnene af dem. Vi ønsker, at kunderne
          husker kvaliteten og den autentiske smag af italiensk pizza.
          Atmosfæren og de stemninger, som Bike and Bake bringer med sig under
          et arrangement er noget helt særligt. Bike and Bake handler IKKE kun
          om maden, det er en måde at slappe af gæsterne på i en hyggelig og
          afslappet atmosfære.
        </p>
      </div>
      <div>
        <h3>Råvarer</h3>
        <p>
          I bike and bake har vi et stort fokus på at bruge gode kvalitetsvarer
          i vores madlavning. Vi bruger tomater og mel, som vi selv importerer
          fra producenter i Italien. Vores økologiske mozzarellaost bliver
          prodoceret i Danske butikker, og resten af ​​ingredienserne vi bruger
          er fra HORECA distributionen i Danmark. Vi har et stort fokus på at
          bruge ingredienser, der er velsmagende og sunde, mange gange
          foretrækker vi at bruge økologiske ingredienser og produkter eller
          dem, hvor vi kender oprindelsen.
        </p>
        <h3>Allergener</h3>
        <p>
          Bike and bake vil vi altid sørge for, at alle kunder vil kunne spise
          og nyde maden, vi har derfor efter forespørgsel mulighed for at lave
          både glutenfri og vegansk base.
        </p>
      </div>
    </section>
    <h1></h1>
    <section class="grid_3">
      <div>
        <img src="/public/img/antipasti.webp" alt="Centered Image" />
        <h3>Antipasto</h3>
        <p>
          Vi serverer en type antipasto som, er populær fra og aktuel i
          ladsdistrikterne rundt omkring i Italien. Det er bruschetta, ristet
          brød med friske tomatterninger og oregano, toppet med olivenolje. Vi
          topper det med Parmigiano ost og nogle oliven. Forretten er en
          deljlig, smagsfuld og forfriskende start på den italienke madrejsen.
        </p>
      </div>
      <div>
        <img src="/public/img/pizza1.webp" alt="Centered Image" />

        <h3>Pizza</h3>
        <p>
          Vores pizza menu består af 6 forskellige pizzaer; 3 vegetariske og 3
          med kød. Menustilen er minimal, men med kvalitetsråvarer. Vores
          filosofi er at holde menuen enkel og velsmagende.
        </p>
      </div>
      <div>
        <img src="/public/img/is.webp" alt="Centered Image" />

        <h3>Gelato</h3>
        <p>
          Vi har 4 forskellige slags gelato: mango og jordbær som sorbet, og vi
          har fiordilatte (mælkesmag) og kaffesmag. Gelatoen er lavet på en
          ismaskine der laver isen foran gæsterne, hvor maskinen kan regulere
          temperaturen meget præcist. Dette er nøglen til kvalitet.
        </p>
      </div>
    </section>
  </main>
</MainLayout>

<style>
  h1 {
    text-align: center;
  }

  h3 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
  }

  img {
    max-width: 20%;
    height: auto;
  }
  .piz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    p {
      margin-left: 20px;
      margin-right: 20px;
    }

    .container {
      gap: 40px;
    }
    img {
      max-width: 20%;
      height: auto;
      align-items: center;
    }
    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .grid_3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
