---

---
<div class="form-felt">
  <h1>Book catering</h1>
  <label>
    <p>Fulde navn</p>
    <input type="text" name="navn" required />
  </label>
  <label>
    Email
    <input type="email" name="email" required />
  </label>
  <label>
    Antal personer
    <input type="number" name="email" required />
  </label>
  <label>
    Dato
    <input type="date" name="navn" required />
  </label>
  <label>
    Lokation
    <input type="text" name="lokation" required />
  </label>
  <label>
    Ekstra info
    <textarea name="besked" rows"5"></textarea>
  </label>
  <label>
    <input type="button" name="button" />
  </label>
</div>

<style>
  .form-felt {
  }
</style>
