---
import Button from "../components/Button.astro";
---

<form name="kontakt" netlify>
  <div class="form-felt2">
    <div class="form-felt">
      <h2>Book catering</h2>
      <div class="grid_5">
        <label>
          <p>Fulde navn</p>
          <input type="text" name="navn" required />
        </label>
        <label>
          <span><p>Email</p></span>
          <input type="email" name="email" required />
        </label>
        <label>
          <span><p>Antal pers.</p></span>
          <input type="number" name="email" required />
        </label>
        <label>
          <span><p>Lokation</p></span>
          <input type="text" name="lokation" required />
        </label>
        <label>
          <span><p>Dato</p></span>
          <input type="date" name="navn" required />
        </label>
        <label class="knap2">
          <div class="knap1">
            <Button variant="primary" size="small"> Insend </Button>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>

<style>
  .form-felt {
    border-radius: 10px;
    min-width: 335px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: rgba(247, 246, 245, 0.4);
  }
  h2 {
    text-align: center;
    color: #285632;
  }
  .knap1 {
    margin-left: 90px;
  }

  input {
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    height: 30px;
    margin: 15px 0px;
    padding: 5px;
  }
  label {
    display: flex;

    justify-content: space-between;
  }

  label > span {
    margin-right: 5px;
  }

  @media screen and (min-width: 768px) {
    .grid_5 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .form-felt {
      width: 800px;
    }
    .knap1 {
      margin-left: 150px;
    }
    input {
      margin: 15px 28px;
    }
    .knap2 {
      margin-top: -25px;
      margin-left: 50px;
    }
  }
</style>
