---
import Button from "../components/Button.astro";
---

<div class="form-felt2">
  <div class="form-felt">
    <h2>Book catering</h2>
    <label>
      Fulde navn
      <input type="text" name="navn" required />
    </label>
    <label>
      Email
      <input type="email" name="email" required />
    </label>
    <label>
      Antal pers.
      <input type="number" name="email" required />
    </label>
    <label>
      Dato
      <input type="date" name="navn" required />
    </label>
    <label>
      Lokation
      <input type="text" name="lokation" required />
    </label>
    <label>
      Ekstra info
      <textarea name="besked" rows"1"></textarea>
    </label>
  </div>
</div>

<style>
  .form-felt {
    border-radius: 15px;
    border: 2px solid #285632;
    height: 600px;
    width: 300px;
    padding: 10px;
  }
  h2 {
    text-align: center;
  }

  input {
    display: block;
    border: none;
    border-bottom: 2px solid #285632;
    background-color: transparent;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
  }
  textarea {
    border: 2px solid #285632;
    background-color: transparent;
    border-radius: 15px;
    height: 30px;
    max-height: 800px;
    width: 250px;
  }
</style>
