---
import Button from "../components/Button.astro";
---

<div class="form-felt">
  <h2>Book catering</h2>
  <label>
    <p>Fulde navn</p>
    <input type="text" name="navn" required />
  </label>
  <label>
    Email
    <input type="email" name="email" required />
  </label>
  <label>
    Antal personer
    <input type="number" name="email" required />
  </label>
  <label>
    Dato
    <input type="date" name="navn" required />
  </label>
  <label>
    Lokation
    <input type="text" name="lokation" required />
  </label>
  <label>
    Ekstra info
    <textarea name="besked" rows"5"></textarea>
  </label>
  <Button />
</div>

<style>
  .form-felt {
    border-radius: 25px;
    border: 2px solid #285632;
    height: 500px;
    width: 400px;
    padding: 10px;
  }
  h2 {
    text-align: center;
  }

  input {
    border: 1px solid #285632;
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    margin: 5px;
  }
  textarea {
    border: 2px solid #285632;
    background-color: transparent;
    border-radius: 25px;
    height: 100px;
  }
</style>
