---

---

<button><slot /></button>

<style>
  Button {
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #285632;
    padding: 1rem;
    background-color: transparent;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
</style>
