---

---

<section class="footer">
  <div class="grid_1-1-1">
    <div>
      <h3>Kontakt Bike and Bake</h3>
      <p>Catering eller madkursus:</p>
      <p>pizza@bikeandbake.dk</p>
    </div>
    <div class="link">
      <h3>Lær mere om os</h3>
      <a href="/kursus"> <p>Madlavningskurser</p></a>
      <a href="/mad"><p>Vores mad</p></a>
      <a href="/galleri"><p>Billedgalleri</p> </a>
    </div>
    <div>
      <h3>Find os på socials</h3>
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
</section>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }
  .footer {
    box-shadow: inset 0 1px 0 #cd3a25;
    color: #cd3a25;
  }

  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    color: #cd3a25;
  }

  @media screen and (min-width: 768px) {
    h3 {
      font-size: 20px;
    }
  }
</style>
