---

---

<article id="fg">
  <div>
    <p>Kontakt</p>
    <p>Madlavning@michele.dk</p>
    <p>Følg med</p>
  </div>
  <div>
    <p>
      <a href="https://www.instagram.com/bikeandbakepizza/" target="_blank"></a>
    </p>
    <p>
      <a href="https://www.facebook.com/bikeandbakecopenhagen" target="_blank"
      ></a>
    </p>
  </div>
</article>

<style>
  #fg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
