---

---

<section class="footer">
  <div class="grid_1-1-1">
    <div>
      <img src="/img/logo.webp" alt="" />
    </div>
    <div>
      <h3>Kontakt</h3>
      <p>Madlavning@michele.dk</p>
    </div>
    <div>
      <h3>Følg med</h3>
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
</section>

<style>
  img {
    width: 100px;
    margin-top: 10px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer {
    box-shadow: inset 0 1px 0 #cd3a25;
    color: #cd3a25;
  }

  h3 {
    font-size: 25px;
  }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 15px;
    }
  }
</style>
