---

---

<section class="footer">
  <div class="grid_1-1-1">
    <div>
      <h3>Kontakt Bike and Bake</h3>
      <p>Catering eller madkursus:</p>
      <p>pizza@bikeandbake.dk</p>
    </div>
    <div class="link">
      <h3>Lær mere om os</h3>
      <a href="/kursus"> <p>Madlavningskurser</p></a>
      <a href="/mad"><p>Vores mad</p></a>
      <a href="/galleri"><p>Billedgalleri</p> </a>
    </div>
    <div>
      <h3>Find os på socials</h3>

      <a href="https://www.instagram.com/bikeandbakepizza/"
        ><img src="/img/instagram.svg" alt="Instagram" /></a
      >

      <a href="https://www.facebook.com/bikeandbakecopenhagen"
        ><img src="/img/facebook.svg" alt="Facebook" /></a
      >
    </div>
  </div>
</section>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .footer {
    box-shadow: inset 0 1px 0 #cd3a25;
    color: #cd3a25;
  }

  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    color: #cd3a25;
  }
  img {
    max-width: 35%;
  }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 20px;
    }
    .grid_1-1-1 {
      gap: 40px;
      margin-left: 200px;
    }
    img {
      max-width: 20%;
    }
    p {
      font-size: 18px;
    }
  }
</style>
