---

---

<div class="footer ">
    <div class="grid_1-1-1">
        <img src="/public/img/logo.webp" alt="">
    </div>

    <div class="grid_1-1-1"></div>
    <h3>Kontakt</h3>
    <p>Madlavning@michele.dk</p>
    </div>

    <div class="grid_1-1-1"></div>
    <h3>Følg med</h3>
    <img src="" alt="">
    <img src="" alt="">
    </div>
</div>

<style>
    img {
        width: 100px;
    }
    

</style>